<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Контакты</h5>
        <ul>
          <li>Адрес: ул. Пример, д. 12</li>
          <li>Телефон: +7 (123) 456-78-90</li>
          <li>Email: [info@example.com](mailto:info@example.com)</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Социальные сети</h5>
        <ul>
          <li><a href="#">Facebook</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Полезные ссылки</h5>
        <ul>
          <li><a href="#">О нас</a></li>
          <li><a href="#">Контакты</a></li>
          <li><a href="#">Блог</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>&copy; 2025 Example.com. Все права защищены.</p>
      </div>
    </div>
  </div>
</footer>