<footer class="footer thin-lines-gradient mt-auto py-5">
    <div class="container-fluid px-5">
        <div class="row">
            <!-- Лого и описание -->
            {% include 'includes/footer_logo_inform.html' %}

            <!-- Категории -->
            {% include 'includes/footer_category.html' %}

            <!-- Контакты -->
            {% include 'includes/footer_contacts.html' %}
        </div>

        <div class="row mt-5 align-items-center pt-4 border-top border-secondary">
            <div class="col-md-6 text-center text-md-start">
                <p class="small footer_copyrator">
                    &copy; {% now "Y" %}. Все права защищены. <br>
                    {{ site_settings.site_title|default:"DPIT-CMS" }}
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <div class="footer-links">
                    <a href="{{ site_settings.privacy_policy_url }}" class="footer-link d-inline-block me-3 small">
                        Политика конфиденциальности
                    </a>
                    <a href="{{ site_settings.terms_of_use_url }}" class="footer-link d-inline-block small">
                        Условия использования
                    </a>
                </div>
            </div>
        </div>

        {% if analytics_scripts %}
        <div class="row mt-4">
            <div class="col-12 text-center">
                <div class="d-flex justify-content-center gap-3 flex-wrap">
                    {% for script in analytics_scripts %}
                        <div class="analytics-item">
                            {{ script.script_code|safe }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</footer>
