<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:home' %}">
            {% if site_settings and site_settings.logo %}
                <img src="{{ site_settings.logo.url }}" alt="{{ site_settings.site_title }}" height="40">
            {% else %}
                {{ site_settings.site_title|default:"DPIT-CMS" }}
            {% endif %}
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:home' %}">Главная</a>
                </li>
                {% for page in menu_pages %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'main:page_detail' page.slug %}">{{ page.title }}</a>
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news:list' %}">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'portfolio:list' %}">Портфолио</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'reviews:list' %}">Отзывы</a>
                </li>
            </ul>
        </div>
    </div>
</nav>