    <div class="row">
        <div class="col-12 text-left logo-container">
            <div class="logo-inform-div">
                <h1 class="display-4 mb-4">Добро пожаловать на сайт</h1>
                {% if site_settings and site_settings.site_description %}
                <p class="lead">{{ site_settings.site_description }}</p>
                {% else %}
                <p class="lead">Это главная страница вашего сайта.</p>
                {% endif %}
            </div>
        </div>
    </div>