/* Стили для страниц в админ-панели */
.field-logo img {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.field-logo img:hover {
    transform: scale(2);
    position: relative;
    z-index: 100;
}
